.MuiInputBase-input {
  padding: 10px 5px 10px 15px !important;
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  background: #5ab584;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b926b;
  z-index: 2 !important;
}
